<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaNexus_Backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MediaNexus_Backend.Properties.Settings>
            <setting name="DBLink" serializeAs="String">
                <value>server=localhost;port=3306;username=root;password=root;database=MediaNexus</value>
            </setting>
        </MediaNexus_Backend.Properties.Settings>
    </applicationSettings>
</configuration>